<xml>
    <ToUserName><![CDATA[= @sender ]]></ToUserName>
    <FromUserName><![CDATA[= @receiver ]]></FromUserName>
    <CreateTime>= Time.now.to_i </CreateTime>
    <MsgType><![CDATA[text]]></MsgType>
    <Content><![CDATA[re:'eeee' ]]></Content>
    <FuncFlag>0</FuncFlag>
</xml>
