h1 湖北长虹米业有限公司
p 湖北长虹米业有限公司地处鄂,赣,皖三省交接的黄梅县小池镇105国道旁与九江隔江相望,长期供应各种大米,欢迎各位来人来电联系.手机:13871974166. 联系电话:0713-3422166. QQ：546254997 主营：大米;碎米;稻谷;稻壳;油糠;皮糠;谷壳灰;
<主营产品:大米>,稻谷,稻壳,油糠,皮糠,谷壳灰,早碎米,抛光碎米,



p 这是微信测试网站，相关代码请访问github.com/zlfera/igou
footer
  <a href="http://webscan.360.cn/index/checkwebsite/url/igou.herokuapp.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/77392f5a7be83d5d3f395b42bef5ee30/?size=74x27"/></a> 
    

p = @user

